/* Global selector */

* {
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* ↑↑↑ Flex CSS ↑↑↑ */
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ↑↑↑ Flex CSS ↑↑↑ */
  background: #47a0ce;
  text-align: center;
}
nav {
  padding: 30px 15px 15px 15px;
}

nav a {
  font-size: 22px;
  margin: 0 20px;
  color: black;
  /* font-weight: bold; */
}

main {
  display: flex;
  justify-content: center;
  padding: 60px 15px;
}

#logo-container {
  background-color: #47a0ce;
  display: inline-block;
  position: relative;
  top: 20px;
  padding: 10px;
}

.bg-dark {
  /* background: black; */
  color: #47a0ce;
}

.bg-dark a {
  color: black;
  font-weight: bold;
}

#hero {
  background: black;
  background-image: url(../images/background.png);
  color: white;
  text-align: center;
  padding: 60px 15px;
  font-size: 42px;
}

.callout {
  border: 5px dotted #47a0ce;
  text-align: center;
  margin: 0 30px;
}

/* TODO: Style the footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ↑↑↑ Flex CSS ↑↑↑ */
  padding: 0 15px;
  background: black;
  height: 75px;
}
.icons {
}

.fa-brands {
  color: white;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  margin: 2px;
  width: 240px;
  height: 240px;
}
