/* Global selector */

* {
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background: #47a0ce;
  text-align: center;
}
nav {
  padding: 30px 15px 15px 15px;
}

nav a {
  font-size: 22px;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
  padding: 60px 15px;
}

#logo-container {
  display: inline-block;
  position: relative;
  top: 20px;
  padding-top: 10px;
}

.bg-dark {
  background: black;
  color: #47a0ce;
}

.bg-dark a {
  color: #47a0ce;
}

#hero {
  background: black;
  background-image: url(../images/background.png);
  color: white;
  text-align: center;
  padding: 60px 15px;
  font-size: 42px;
}

.callout {
  border: 5px dotted #47a0ce;
  text-align: center;
  margin: 0 30px;
}

/* TODO: Style the footer */
footer {
}
